* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #302f2f, #b0b0b0, #302f2f);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), gray);
    padding: 40px 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 70px;
    color: white;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.8), 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

h2 {
    font-size: 35px;
    color: rgb(230, 230, 230);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

nav {
    background-color: rgba(240, 248, 255, 0.459);
    border-radius: 25px;
    border: 1px solid #333;
    padding: 14px 28px;
    margin: 10px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

main {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 30px;
    width: 80%;
    max-width: 800px;
    color: #000000;
}


footer {
    padding-top: 40%;
    background-image: linear-gradient(to bottom black, gray, black, );
    position: fixed;
}
