
main {
    width: 50vw;
    margin: auto;
}

h1 {
    text-align: center;
}

#titulo1 {
    color: rgb(196, 136, 58);
    background-color: rgb(255, 247, 178);
}

.p1 {
    color: rgb(163, 177, 81);
    background-color: rgb(234, 255, 139);

}

#titulo2 {
    color:rgb(55, 126, 55);
    background-color: rgb(189, 255, 159);
}

.p2 {
    color: rgb(85, 168, 130);
    background-color: rgb(159, 255, 234);
}

#titulo3 {
    color:rgb(41, 102, 155);
    background-color: rgb(167, 223, 255);
}